# MCIS6273 Data Mining (Prof. Maull) / Fall 2021 / HW0

**This assignment is worth up to 20 POINTS to your grade total if you complete it on time.**

| Points <br/>Possible | Due Date | Time Commitment <br/>(estimated) |
|:---------------:|:--------:|:---------------:|
| 20 | Wednesday, Sep 1 @ Midnight | _up to_ 20 hours |


* **GRADING:** Grading will be aligned with the completeness of the objectives.

* **INDEPENDENT WORK:** Copying, cheating, plagiarism  and academic dishonesty _are not tolerated_ by University or course policy.  Please see the syllabus for the full departmental and University statement on the academic code of honor.

## OBJECTIVES
* Familiarize yourself with the JupyterLab environment, Markdown and Python

* Familiarize yourself with Github and basic git

* Explore JupyterHub Linux console integrating what you learned in the prior parts of this homework

* Listen to the Talk Python['Podcast'] from June 25, 2021: A Path to Data Science Interview with Sanyam Bhutani

* Explore Python for data munging and analysis, with an introduction to CSV and Pandas

## WHAT TO TURN IN
You are being encouraged to turn the assignment in using the provided
Jupyter Notebook.  To do so, make a directory in your Lab environment called
`homework/hw0`.   Put all of your files in that directory.  Then zip that directory,
rename it with your name as the first part of the filename (e.g. `maull_hw0_files.zip`), then
download it to your local machine, then upload the `.zip` to Blackboard.

If you do not know how to do this, please ask, or visit one of the many tutorials out there
on the basics of using zip in Linux.

If you choose not to use the provided notebook, you will still need to turn in a
`.ipynb` Jupyter Notebook and corresponding files according to the instructions in
this homework.


## ASSIGNMENT TASKS
### (0%) Familiarize yourself with the JupyterLab environment, Markdown and Python 

As stated in the course announcement [Jupyter (https://jupyter.org)](https://jupyter.org) is the
core platform we will be using in this course and
is a popular platform for data scientists around the world.  We have a JupyterLab
setup for this course so that we can operate in a cloud-hosted environment, free from
some of the resource constraints of running Jupyter on your local machine (though you are free to set
it up on your own and seek my advice if you desire).

You have been given the information about the  Jupyter environment we have setup for our course, and
the underlying Python environment will be using is the [Anaconda (https://anaconda.com)](https://anaconda.com)
distribution.  It is not necessary for this assignment, but you are free to look at the multitude
of packages installed with Anaconda, though we will not use the majority of them explicitly.

As you will soon find out, Notebooks are an incredibly effective way to mix code with narrative
and you can create cells that are entirely code or entirely Markdown.  Markdown (MD or `md`) is
a highly readable text format that allows for easy documentation of text files, while allowing
for HTML-based rendering of the text in a way that is style-independent.

We will be using Markdown frequently in this course, and you will learn that there are many different
"flavors" or Markdown.  We will only be using the basic flavor, but you will benefit from exploring
the "Github flavored" Markdown, though you will not be responsible for using it in this course -- only the
"basic" flavor.  Please refer to the original course announcement about Markdown.

&#167;  **THERE IS NOTHING TO TURN IN FOR THIS PART.** Play with and become familiar with the basic functions of
the Lab environment given to you online in the course Blackboard.


&#167;  **PLEASE _CREATE A MARKDOWN DOCUMENT_ CALLED `semester_goals.md` WITH 3 SENTENCES/FRAGMENTS THAT
ANSWER THE FOLLOWING QUESTION:**

* **What do you wish to accomplish this semester in Data Mining?**

Read the documentation for basic Markdown [here](https://www.markdownguide.org/basic-syntax). 
Turn in the text `.md` file *not* the processed `.html`.  In whatever you turn in, 
you must show the use of *ALL* the following:

* headings (one level is fine),
* bullets,
* bold and italics

Again, the content of your document needs to address the question above and it should live
in the top level directory of your assignment submission.  This part will be graded but no
points are awarded for your answer.



### (0%) Familiarize yourself with Github and basic git 

[Github (https://github.com)](https://github.com) is the _de facto_ platform for open source software in the world based
on the very popular [git (https://git-scm.org)](https://git-scm.org) version control system. Git has a sophisticated set
of tools for version control based on the concept of local repositories for fast commits and remote
repositories only when collaboration and remote synchronization is necessary.  Github enhances git by providing
tools and online hosting of public and private repositories to encourage and promote sharing and collaboration.
Github hosts some of the world's most widely used open source software.

**If you are already familiar with git and Github, then this part will be very easy!**

&#167;  **CREATE A PUBLIC GITHUB REPO NAMED `"mcis6273-F21-datamining"` AND PLACE A README.MD FILE IN IT.**
Create your first file called
`README.md` at the top level of the repository.  You can put whatever text you like in the file 
(If you like, use something like [lorem ipsum](https://lipsum.com/)
to generate random sentences to place in the file.).
Please include the link to **your** Github repository that now includes the minimal `README.md`. 
You don't have to have anything elaborate in that file or the repo. 



### (0%) Explore JupyterHub Linux console integrating what you learned in the prior parts of this homework 

The Linux console in JupyterLab is a great way to perform command-line tasks and is an essential tool
for basic scripting that is part of a data scientist's toolkit.  Open a console in the lab environment
and familiarize yourself with your files and basic commands using git as indicated below.

1. In a new JupyterLab command line console, run the `git clone` command to clone the new
  repository you created in the prior part.
  You will want to read the documentation on this 
  command (try here [https://www.git-scm.com/docs/git-clone](https://www.git-scm.com/docs/git-clone) to get a good
  start).
2. Within the same console, modify your `README.md` file, check it in and push it back to your repository, using
  `git push`.  Read the [documentation about `git push`](https://git-scm.com/docs/git-push).
3. The commands `wget` and `curl` are useful for grabbing data and files from remote resources off the web.
  Read the documentation on each of these commands by typing `man wget` or `man curl` in the terminal.
  Make sure you pipe the output to a file or use the proper flags to do so.

&#167;  **THERE IS NOTHING TO TURN IN FOR THIS PART.**



### (30%) Listen to the Talk Python['Podcast'] from June 25, 2021: A Path to Data Science Interview with Sanyam Bhutani 

Data science is one of the most important and "hot" disciplines today
and there is a lot going on from data engineering to modeling and
analysis.

Bhutani is one of the top [Kaggle]() leaders and in this interview
shares his experience from computer science to data science, 
documenting some of the lessons he learned along the way.

Please listen to this one hour podcast and answer some of the questions below.
You can listen to it from one of the two links below:

* [Talk Python['Podcast'] landing page](https://talkpython.fm/episodes/transcript/322/a-path-into-data-science)
* [direct link to mp3 file](https://downloads.talkpython.fm/podcasts/talkpython/322-starting-in-data-sci.mp3)

&#167;  **PLEASE ANSWER THE FOLLOWING QUESTIONS AFTER LISTENING TO THE PODCAST:**

1. List 3 things that you learned from this podcast?

2. What is your reaction to the podcast?  Pick at least one point Sanyam brought up in the interview that you agree with and list your reason why.

3. After listening to the podcast, do you think you are more interested or less interested in a career in Data Science?

**ANSWERS**

**1. List 3 things that you learned from this podcast?**
1. Top down approach - Give Youself a deadline, learn the basics and start developing your first website/app , then enhance the website/app with the learning you get everyday
2. Make Progress in learning. Keep learning new stuff everyday.
3. Join a community where you can learn and contribute

**2. What is your reaction to the podcast?  Pick at least one point Sanyam brought up in the interview that you agree with and list your reason why.**
The podcast was really informative and interesting. I was able to get a lot of new informations including Kaggle. I agree with the disconnect in university learning and actual working environment that Sanyam was talking about. Most of the times university learnings are good for getting good grades and serves as a pre-requisite for getting jobs. I was able to successfully work in the field of datawarehousing though I had very few subjects related to computer science in my undergraduate course. I can very well relate to the top-down approach that Sanyam was talking about. Once we are into it, we start exploring various ways to learn from the existing or create our own new things. Continuous learning and exploring will definitely help in our journey as a data scientist.

**3. After listening to the podcast, do you think you are more interested or less interested in a career in Data Science?**
This podcast has definitely kindled my interest in data science and I am looking forward for a career in Data Science.

### (70%) Explore Python for data munging and analysis, with an introduction to CSV and Pandas 


Python's strengths shine when tasked with data munging and analysis.  As we will learn throughout
the course, there are a number of excellent data sources for open data of all kinds now
available for the public.  These open data sources are heralding the new era of transparency
from all levels from small municipal data to big government data, from transportation, to science,
to education.

To warm up to such datasets, we will be working with an interesting
dataset from the US Fish and Wildlife Service (FWS).  This is a 
water quality data set taken from a managed national refuge in
Virginia called Back Bay National Wildlife Refuge, which was 
established in 1938.  As a function of being managed by the FWS, 
water quality samples are taken regularly from the marshes within 
the refuge.

You can (and should) learn a little more about Back Bay from
this link, since it has an interesting history, features and wildlife.

* [https://www.fws.gov/refuge/Back_Bay/about.html](https://www.fws.gov/refuge/Back_Bay/about.html)


The data we will be looking at can be found as a direct download 
from data.gov, the US data repository where many datasets from
a variety of sources can be found -- mostly related to the 
multitude of US government agencies.

The dataset is a small water quality dataset with several decades
of water quality data from Back Bay.  We will be warming up
to this dataset with a basic investigation into the shape, content
and context of the data contained therein.


In this part of the assignment, we will make use of Python libraries to pull the data from the
endpoint and use [Pandas](https://pandas.pydata.org) to plot the data.  The raw CSV data is
readily imported into Pandas from the following URL:

* [FWS Water Quality Data 12/20/2020](https://catalog.data.gov/dataset/water-quality-data/resource/f4d736fd-ade9-4e3f-b8e0-ae7fd98b2f87)

Please take a look at the page, on it you will notice a link 
to the raw CSV file:

* [https://ecos.fws.gov/ServCat/DownloadFile/173741?Reference=117348](https://ecos.fws.gov/ServCat/DownloadFile/173741?Reference=117348)

We are going to explore this dataset to learn a bit more about the 
water quality characteristics of Bay Bay over the past couple decades
or so.

&#167;  **WRITE THE CODE IN YOUR NOTEBOOK TO LOAD AND RESHAPE THE COMPLETE CSV WATER QUALITY DATASET**:

You will need to perform the following steps:

1. **use [`pandas.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) method to load the dataset** into a Pandas DataFrame;
2. **clean the data so that the range of years is restricted to the 20 year period from 1999 to 2018**
5. **store the entire dataset back into a new CSV** file called `back_bay_1998-2018_clean.csv`.

**HINTS:** _Here are some a code hints you might like to study and use to craft a solution:_

* study  [`pandas.DataFrame.query()]`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query) to learn how to filter and query year ranges
* study  [`pandas.DataFrame.groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html?highlight=groupby#pandas.DataFrame.groupby) to understand how to group data


&#167;  **USE PANDAS TO LOAD THE CSV DATA TO A DATAFRAME AND ANSWER THE FOLLOWING QUESTIONS:**

1. How many and what are the names of the columns in this dataset?
2. What is the mean `Dissolved Oxygen (mg/L)` over the entire dataset?
3. Which year were the highest number of `AirTemp (C)` data points collected?
4. Which year were the least number of `AirTemp (C)` data points collected?


To answer these questions, you'll need to dive further into Pandas, which is
the standard tool in the Python data science stack for loading, manipulating,
transforming, analyzing and preparing data as input to other tools such as
[Numpy (http://www.numpy.org/)](http://www.numpy.org/), 
[SciKitLearn (http://scikit-learn.org/stable/index.html)](http://scikit-learn.org/stable/index.html), 
[NLTK (http://www.nltk.org/)](http://www.nltk.org/) and others.

For this assignment, you will only need to learn how to load and select data using Pandas.

* **LOADING DATA**
The core data structure in Pandas is the `DataFrame`.  You will need to visit
the Pandas documentation [(https://pandas.pydata.org/pandas-docs/stable/reference/)](https://pandas.pydata.org/pandas-docs/stable/reference/)
to learn more about the library, but to help you along with a hint, read the
documentation on the [`pandas.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) method.

* **SELECTING DATA**
The [tutorial here on indexing and selecting](http://pandas.pydata.org/pandas-docs/stable/indexing.html)
should be of great use in understanding how to index and select subsets of
the data to answer the questions.

* **GROUPING DATA** You may use [`DataFrame.value_counts()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html?highlight=value_counts#pandas.DataFrame.value_counts) or [`DataFrame.groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html) to group
the data you need for these questons.  You will also find [`DataFrame.groupby()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html?highlight=groupby#pandas.DataFrame.groupby) and [`DataFrame.describe()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe) very useful.

**CODE HINTS**

Here is example code that should give you clues about the structure
of your code for this part.

```python
  import pandas as pd

  df = pd.read_csv('your_json_file.csv')

  # code for question 1 ... and so on
```


&#167;  **EXPLORING WATER SALINITY IN THE DATA**

The Back Bay refuge is on the eastern coast of Virginia and to
the east is the Atlantic Ocean.  Salinity is a measure of
the salt concentration of water, and you can learn a little more
about salinity in water [here](https://www.usgs.gov/special-topic/water-science-school/science/saline-water-and-salinity?qt-science_center_objects=0#qt-science_center_objects).

You will notice that there is a `Site_Id` variable in the data, which 
we will find refers to the five sampling locations (see the [documentation here](https://ecos.fws.gov/ServCat/Reference/Profile/117348))
of (1) the Bay, (2) D-Pool (fishing pond), (3) C-Pool, (4) B-Pool and (5) A-Pool.

The ppt in Salinity is the percent salinity, and so 1 ppt is equivalent to 10000 ppm salinity.  Use this information to answer 
the following questions.

1. Which sampling location has the highest mean ppt?  What is the equivalent ppm?
2. When looking at the mean ppt, which location would you infer is furthest from the influence of ocean water inflows? 
   (Assume that higher salinity correlates to closer proximity to the ocean.)
3. Dig a little deeper into #2, and write why there may be some uncertainty in your answer? (hint: certainty is improved by consistency in data)
4. Use the data to determine the correlation between `Salinity (ppt)` and `pH (standard units)`.  Use the [DataFrame.corr()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.corr.html?highlight=correlate).  You just need to report the correlation value.

**ANSWERS:**

**Task 1: Use pandas.read_csv() method to load the dataset into a Pandas DataFrame**

In [627]:
import pandas as pd

In [628]:
df = pd.read_csv("/home/jovyan/mcis6273_f21_datamining/homework/hw0/BKB_WaterQualityData_2020084.csv")

In [629]:
df

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,Bay,NaN,1/3/1994,1.3,11.7,7.3,0.40,0.40,5.9,8.0,46.40,11:00,NaN,NaN,NaN,8.000000,1994
1,Bay,NaN,1/31/1994,1.5,12.0,7.4,0.20,0.35,3.0,2.6,36.68,11:30,NaN,NaN,NaN,2.600000,1994
2,Bay,NaN,2/7/1994,1.0,10.5,7.2,0.25,0.60,5.9,7.6,45.68,9:45,NaN,NaN,NaN,7.600000,1994
3,Bay,NaN,2/23/1994,1.0,10.1,7.4,0.35,0.50,10.0,2.7,36.86,NaN,NaN,NaN,NaN,2.700000,1994
4,Bay,NaN,2/28/1994,1.0,12.6,7.2,0.20,0.40,1.6,0.0,32.00,10:30,NaN,NaN,NaN,0.000000,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366,Bay,NaN,10/11/2018,1.9,5.0,7.0,4.00,1.20,25.0,NaN,78.00,9:30,Sue Poe,11/13/2019,Christine Folks,25.555556,2018
2367,Bay,NaN,10/24/2018,0.0,9.0,7.0,0.30,0.60,18.0,NaN,58.00,9:30,Sue Poe,11/13/2019,Christine Folks,14.444444,2018
2368,Bay,NaN,10/28/2018,0.9,2.9,7.0,0.40,0.90,13.0,NaN,49.00,9:20,Sue Poe,11/13/2019,Christine Folks,9.444444,2018
2369,Bay,NaN,11/7/2018,1.7,NaN,7.0,0.45,0.90,20.0,NaN,65.00,9:45,Sue Poe,11/13/2019,Christine Folks,18.333333,2018
2370,Bay,NaN,12/11/2018,0.1,NaN,7.0,0.10,0.10,10.0,NaN,42.00,9:40,Sue Poe,11/13/2019,Christine Folks,5.555556,2018

&nbsp;

**Task 2: Clean the data so that the range of years is restricted to the 20 year period from 1999 to 2018**

In [630]:
df = df.query('Year >= 1999 and Year <= 2018')
df

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
345,A,NaN,8/11/1999,3.0,2.60,7.7,0.60,0.60,26.0,NaN,80.96,23:02,Not Recorded,NaN,NaN,27.200000,1999
346,A,NaN,8/18/1999,3.0,1.60,8.7,NaN,NaN,31.0,NaN,91.40,9:36,Not Recorded,NaN,NaN,33.000000,1999
347,A,NaN,9/8/1999,1.8,1.35,8.2,0.40,1.00,28.0,NaN,76.60,14:24,Not Recorded,NaN,NaN,24.777778,1999
348,A,NaN,10/15/1999,0.1,5.65,7.3,0.60,0.80,20.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999
349,A,NaN,11/10/1999,0.0,6.70,7.6,0.65,0.95,18.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366,Bay,NaN,10/11/2018,1.9,5.00,7.0,4.00,1.20,25.0,NaN,78.00,9:30,Sue Poe,11/13/2019,Christine Folks,25.555556,2018
2367,Bay,NaN,10/24/2018,0.0,9.00,7.0,0.30,0.60,18.0,NaN,58.00,9:30,Sue Poe,11/13/2019,Christine Folks,14.444444,2018
2368,Bay,NaN,10/28/2018,0.9,2.90,7.0,0.40,0.90,13.0,NaN,49.00,9:20,Sue Poe,11/13/2019,Christine Folks,9.444444,2018
2369,Bay,NaN,11/7/2018,1.7,NaN,7.0,0.45,0.90,20.0,NaN,65.00,9:45,Sue Poe,11/13/2019,Christine Folks,18.333333,2018
2370,Bay,NaN,12/11/2018,0.1,NaN,7.0,0.10,0.10,10.0,NaN,42.00,9:40,Sue Poe,11/13/2019,Christine Folks,5.555556,2018

&nbsp;

**Task 3: Store the entire dataset back into a new CSV file called back_bay_1998-2018_clean.csv.**

In [631]:
df_new = df.to_csv("/home/jovyan/mcis6273_f21_datamining/homework/hw0/back_bay_1998-2018_clean.csv",index=False)
df_readnew = pd.read_csv("/home/jovyan/mcis6273_f21_datamining/homework/hw0/back_bay_1998-2018_clean.csv")
df_readnew

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,A,NaN,8/11/1999,3.0,2.60,7.7,0.60,0.60,26.0,NaN,80.96,23:02,Not Recorded,NaN,NaN,27.200000,1999
1,A,NaN,8/18/1999,3.0,1.60,8.7,NaN,NaN,31.0,NaN,91.40,9:36,Not Recorded,NaN,NaN,33.000000,1999
2,A,NaN,9/8/1999,1.8,1.35,8.2,0.40,1.00,28.0,NaN,76.60,14:24,Not Recorded,NaN,NaN,24.777778,1999
3,A,NaN,10/15/1999,0.1,5.65,7.3,0.60,0.80,20.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999
4,A,NaN,11/10/1999,0.0,6.70,7.6,0.65,0.95,18.0,NaN,NaN,0:00,Not Recorded,NaN,NaN,-17.777778,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,Bay,NaN,10/11/2018,1.9,5.00,7.0,4.00,1.20,25.0,NaN,78.00,9:30,Sue Poe,11/13/2019,Christine Folks,25.555556,2018
1952,Bay,NaN,10/24/2018,0.0,9.00,7.0,0.30,0.60,18.0,NaN,58.00,9:30,Sue Poe,11/13/2019,Christine Folks,14.444444,2018
1953,Bay,NaN,10/28/2018,0.9,2.90,7.0,0.40,0.90,13.0,NaN,49.00,9:20,Sue Poe,11/13/2019,Christine Folks,9.444444,2018
1954,Bay,NaN,11/7/2018,1.7,NaN,7.0,0.45,0.90,20.0,NaN,65.00,9:45,Sue Poe,11/13/2019,Christine Folks,18.333333,2018
1955,Bay,NaN,12/11/2018,0.1,NaN,7.0,0.10,0.10,10.0,NaN,42.00,9:40,Sue Poe,11/13/2019,Christine Folks,5.555556,2018

&nbsp;

**TASK 4:**

*1. How many and what are the names of the columns in this dataset?*</br>
*2. What is the mean Dissolved Oxygen (mg/L) over the entire dataset?*</br>
*3. Which year were the highest number of AirTemp (C) data points collected?*</br>
*4. Which year were the least number of AirTemp (C) data points collected?*</br>

&nbsp;

**1. How many and what are the names of the columns in this dataset?**

In [632]:
df_readnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956 entries, 0 to 1955
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Site_Id                  1956 non-null   object
 1   Unit_Id                  32 non-null     object
 2   Read_Date                1956 non-null   object
 3   Salinity (ppt)           1867 non-null   float64
 4   Dissolved Oxygen (mg/L)  1150 non-null   float64
 5   pH (standard units)      1872 non-null   float64
 6   Secchi Depth (m)         1891 non-null   float64
 7   Water Depth (m)          1890 non-null   float64
 8   Water Temp (?C)          1842 non-null   float64
 9   Air Temp-Celsius         46 non-null     float64
 10  Air Temp (?F)            1904 non-null   float64
 11  Time (24:00)             1905 non-null   object
 12  Field_Tech               1956 non-null   object
 13  DateVerified             386 non-null    object
 14  WhoVerified              386 non-null    object
 15  AirTemp (C)              1956 non-null   float64
 16  Year                     1956 non-null   int64
dtypes: float64(9), int64(1), object(7)
memory usage: 259.9+ KB

&nbsp;

**2. What is the mean Dissolved Oxygen (mg/L) over the entire dataset?**

In [633]:
df_readnew["Dissolved Oxygen (mg/L)"].mean()

5.867704347826082

&nbsp;

**3. Which year were the highest number of AirTemp (C) data points collected?**

In [634]:
filter1 = df_readnew.query('(`AirTemp (C)`==`AirTemp (C)`)') # Remove Null Values in Air Temp-Celsius column
airtemp_year = filter1.loc[:,['Year',"AirTemp (C)"] ]
Year_count=airtemp_year.groupby(['Year'], as_index = False).size()
print (Year_count)
Year_highcount = Year_count[Year_count['size']==Year_count['size'].max()]['Year']
print ("The year in which the highest number of AirTemp (C) data points collected is:" +Year_highcount.to_string(index=False))

    Year  size
0   1999    45
1   2000   109
2   2001   115
3   2002   108
4   2003    98
5   2004   119
6   2005   107
7   2006   118
8   2007   114
9   2008   117
10  2009   120
11  2010   109
12  2011    97
13  2012    88
14  2013    91
15  2014    87
16  2015    88
17  2016    59
18  2017    85
19  2018    82
The year in which the highest number of AirTemp (C) data points collected is:2009

&nbsp;

**4. Which year were the least number of AirTemp (C) data points collected?**

In [635]:
filter1 = df_readnew.query('(`AirTemp (C)`==`AirTemp (C)`)') # Remove Null Values in Air Temp-Celsius column
airtemp_year = filter1.loc[:,['Year',"AirTemp (C)"] ]
Year_count=airtemp_year.groupby(['Year'], as_index = False).size()
Year_lowcount = Year_count[Year_count['size']==Year_count['size'].min()]['Year']
print ("The year in which the least number of AirTemp (C) data points collected is:" +Year_lowcount.to_string(index=False))

The year in which the least number of AirTemp (C) data points collected is:1999

**TASK 5:**

*1. Which sampling location has the highest mean ppt? What is the equivalent ppm?*</br>
*2. When looking at the mean ppt, which location would you infer is furthest from the influence of ocean water inflows? (Assume that higher salinity correlates to closer proximity to the ocean.)*</br>
*3. Dig a little deeper into #2, and write why there may be some uncertainty in your answer? (hint: certainty is improved by consistency in data)*</br>
*4. Use the data to determine the correlation between Salinity (ppt) and pH (standard units). Use the DataFrame.corr(). You just need to report the correlation value.*</br>

&nbsp;

**1. Which sampling location has the highest mean ppt? What is the equivalent ppm?**

In [640]:
ppt_df = df_readnew.loc[:,['Site_Id','Salinity (ppt)'] ]
mean=ppt_df.groupby(['Site_Id'], as_index = False).mean()
mean_pptmax = mean[mean['Salinity (ppt)']==mean['Salinity (ppt)'].max()]['Site_Id']

#ppm=ppt*10000
Equiv_ppm = mean['Salinity (ppt)'].max() * 10000 
print(mean)
print ("The sampling location with highest mean ppt: " + mean_pptmax.to_string(index=False))
print ("The Equivalent ppm is:" +format(Equiv_ppm))

  Site_Id  Salinity (ppt)
0       A        0.334135
1       B        0.444838
2     Bay        0.636067
3       C        0.596397
4       D        0.103226
The sampling location with highest mean ppt: Bay
The Equivalent ppm is:6360.671462829737

&nbsp;

**2. When looking at the mean ppt, which location would you infer is furthest from the influence of ocean water inflows? (Assume that higher salinity correlates to closer proximity to the ocean.)**

In [637]:
mean_pptmin = mean[mean['Salinity (ppt)']==mean['Salinity (ppt)'].min()]['Site_Id']
print (mean_pptmin.to_string(index=False))

D

The location D seems to have less salinity and so I infer this is furthest from the influence of ocean water inflows.

&nbsp;

**3. Dig a little deeper into #2, and write why there may be some uncertainty in your answer? (hint: certainty is improved by consistency in data)**

In [638]:
ppt_df = df_readnew.loc[:,['Site_Id','Salinity (ppt)'] ]
mean=ppt_df.loc[ppt_df['Site_Id'] == 'D']
unique_df = mean['Salinity (ppt)'].unique()
print (unique_df)

[0.2 3.  0.  0.4 1.  nan 2. ]

There are only limited valid values that contributes to the answer in question 2. The more number of ppt values that are consistent, the better will be the certainity of the result.

&nbsp;

**4. Use the data to determine the correlation between Salinity (ppt) and pH (standard units). Use the DataFrame.corr(). You just need to report the correlation value.**

In [639]:
col_Salinity = df_readnew['Salinity (ppt)']
col_pH = df_readnew['pH (standard units)']
correlation = col_Salinity.corr(col_pH)
print (correlation)

0.2712622411317778

Answer = 0.2712622411317778